/*Button "Faça parte dessa revolução ecológica!"*/
.button{    
    text-align: center;
    padding: 5px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.btn-eco{

    font-family: 'Poppins', sans-serif;
    border: 2px solid currentColor;
    border-radius: 3rem;
    color: #07401B;
    font-size: 20px;
    font-weight: 100;
    overflow: hidden;
    padding: 1rem 3rem;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;

}    

.efeito::after{
      background-color: #07401B;
      border-radius: 3rem;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-100%, 0) rotate(10deg);
      transform-origin: top left;
      transition: .2s transform ease-out;
      will-change: transform;
      z-index: -1;
}
      
.efeito:hover::after{
    transform: translate(0, 0);
}
     
.efeito:hover{
    text-decoration: none;
    border: 2px solid transparent;
    color: #D9D9D9;
    transform: scale(1);
    will-change: transform;
}


/*Button "Conheça nossa história!"*/

.historia{
    font-family: 'Poppins', sans-serif;
    background-color: var(--gray-color);
    color: #07401B;
    border: 2px solid currentColor;
    border-radius: 3rem;
}

.efeito-hist::after{
    background-color: #07401B;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}
    
.efeito-hist:hover::after{
  transform: translate(0, 0);
}
   
.efeito-hist:hover{
  text-decoration: none;
  border: 2px solid transparent;
  color: #D9D9D9;
  transform: scale(1);
  will-change: transform;
}