/*Var Colors*/
:root{
    --darkgreen-color: #07401B;
    --green-color: #17BF52;
    --mattegreen: #3BBF69;
    --whitegreen-color: #B0D9BE;
    --gray-color: #D9D9D9;
}

html, body{
    background: rgb(217,217,217);
    background: radial-gradient(circle, rgba(217,217,217,1) 84%, rgba(170,170,170,1) 100%);
}

body{
    margin: 0;
}
