/*AO ABRIR O SITE A ANIMAÇÃO DE TRAZER OS LINKS PARA CIMA */

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
/*FIM DA ANIMAÇÃO*/
/* MEXER O BOTÃO */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
/* FIM DA ANIMAÇÃO */
/*NAVBAR ITEMS E TAMBÉM O BACKGROUND DO NAVBAR*/
.marginItens{
    margin-right: 20px;
}

.navbar-fundo{
    background-color: #07401B;
}

.nav-link, .navbar-brand, .navbar-brand:hover{
    color: white;
}

.nav-link:hover{
    color: #D9D9D9; 
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;   
}



.dropdown-menu{
    background-color: #07401B;
}

.dropdown-item {
    background-color: #07401B;
    color: white;
}

.dropdown-item:hover{
    background-color: #d9d9d9;
    color: #07401B;
}

/* FIM DO NAVBAR*/
html{
    background-color: #D9D9D9;
}


/*titulo*/
.text{
    color: #07401B;
    float: right;

    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 30pt;

    max-width: 1100px;
    margin: 0 100px;
    padding: 5px;
    margin-top: 90px;
  
    display: flex;
    flex-direction: column;
}

/*parágrafo*/
.text2{
    color: #07401B;
    float: right;

    font-family: 'Poppins', sans-serif;
    text-align: justify;

    max-width: 1100px;
    margin: 0 175px;
    padding: 5px;
  
    display: flex;
    flex-direction: column;
}




/*Botão*/
.button{    
 
    float: right;
    
    text-align: center;

    max-width: 1100px;
    margin: 0 250px;
    padding: 5px;
    margin-top: 100px;

    display: flex;

}

.btneco{

    font-family: 'Poppins', sans-serif;
    border: 2px solid currentColor;
    border-radius: 3rem;
    color: #07401B;
    font-size: 20px;
    font-weight: 100;
    overflow: hidden;
    padding: 1rem 3rem;
    position: relative;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;

}    

.efeito::after{
      background-color: #07401B;
      border-radius: 3rem;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-100%, 0) rotate(10deg);
      transform-origin: top left;
      transition: .2s transform ease-out;
      will-change: transform;
      z-index: -1;
}
      
.efeito:hover::after{
    transform: translate(0, 0);
}
     
.efeito:hover{
    text-decoration: none;
    border: 2px solid transparent;
    color: #D9D9D9;
    transform: scale(1);
    will-change: transform;
}