<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- CSS Styles -->
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/styleFooter.css">
    <link rel="stylesheet" href="style/styleNavBar.css">
    <link rel="stylesheet" href="style/styleHeader.css">
    <link rel="stylesheet" href="style/styleSobreNós.css">
    <link rel="stylesheet" href="style/styleHeaderSobreNos.css">
    <link rel="stylesheet" href="style/styleFilter.css">
    <link rel="stylesheet" href="style/styleButtons.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link rel="shortcut icon" href="imgs/eco-logo-verde.ico">
    <title>EcoBrains</title>
</head>

<body>

    <!-- Navbar -->
    <nav class="fixed-top navbar navbar-expand-lg navbar-fundo">

        <div class="container-fluid mx-5">

            <a class="navbar-brand h1 mt-2" href="index.html">
                <img src="imgs/eco-logo-branco.png" id="logo-nav" alt="Logo da EcoBrains">
                <img src="imgs/eco-branco.png" id="name-nav" alt="Logo da EcoBrains">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon icon-hambuger"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSite">

                <ul class="navbar-nav ml-auto mt-1">

                    <li class="nav-item marginItens">
                        <a class="nav-link nav-tamanho" href="index.html">Início</a>
                    </li>
                    <li class="nav-item marginItens">
                        <a class="nav-link nav-tamanho" href="indexSobreNos.html">Sobre nós</a>
                    </li>
                    <li class="nav-item marginItens">
                        <a class="nav-link nav-tamanho" href="indexPEV.html">PEV's</a>
                    </li>
                    <li class="nav-item marginItens">
                        <a class="nav-link nav-tamanho" href="#">Planos</a>
                    </li>
                    <li class="nav-item marginItens">
                        <a class="nav-link nav-tamanho" href="indexLogin.html">Login</a>
                    </li>
                    <li class="nav-item marginItens">
                        <a class="nav-link nav-tamanho" href="#">Cadastre-se</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="container pt-4 mt-5">
        <div class="row my-2">
            <div class="col-12">
                <p class="text1 mt-5">PEV's — Ponto de Entrega Voluntária</p>
                <p class="text2 mb-3">Por entendermos a nossa responsabilidade social e compromisso com
                    serviços de utilidade pública oferecemos gratuitamente acesso a nossa área de busca de horários de
                    coleta seletiva e Pontos de Entrega Voluntária.</p>
            </div>
        </div>
    </div>
    <!-- End Header -->
    <!-- PEV's -->
    <div class="container-fluid pt-5 mt-4 filterContainer">
        <div class="row my-2">
            <div class="col-12 text-center">
                <h2 class="ecobrainsTitle2 text-center mb-4">PEV's</h2>
                <hr class="line-footer" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-4">
                <p class="ecobrainsParagraph">Muitas das vezes depois daquela reforma ou com a vinda de novos móveis
                    fica aquela dúvida de onde deixar o seu armário. Quase sempre esse resíduo vai parar nos rios ou
                    terrenos baldios criando uma série de problemas para as pessoas que vivem no entorno. Para a solução
                    desse problema algumas prefeituras criaram os PEV's (Pontos de Entrega Voluntária) que são os locais
                    adequados para o descarte desses armários, móveis e entulhos. Para realizar o descarte é só se
                    dirigir a um dos PEV's instalados e depositar o resíduo gratuitamente.<br>
                    É importante ressaltar que cada cidade tem seu regimento sobre quanto cada morador pode levar por
                    dia. Para saber mais acesse o site da sua prefeitura.</p>
                <a class="ecobrainshref" href="https://www.guarulhos.sp.gov.br/pontos-de-entrega-voluntaria-pev"
                    target="_blank"><i class="fa fa-recycle"></i> PEV's em Guarulhos</a>

            </div>
        </div>
        <div class="row text-center text-lg-left">

            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail"
                        src="http://www.guarulhos.org/imagens/pev/pev_bonsucesso_gde.jpg"
                        title="BONSUCESSO - R. Maracanã, s/ n° (esquina c/ R. Senhor do Bonfim)">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail"
                        src="http://www.guarulhos.org/imagens/pev/pev_pq_continental_gde.jpg"
                        title="CONTINENTAL - Av. C, s/ n° (esquina c/ R. Ozimar Batista Braga)">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://www.guarulhos.org/imagens/pev/pev_gopouva_gde.jpg"
                        title="GOPOÚVA - R. Nadir, s/ n° (esquina c/ R. Utama)">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://www.guarulhos.org/imagens/pev/pev_macedo_gde.jpg"
                        title=" MACEDO - R. Estilac Leal, s/ n° (atrás da unidade do Corpo de Bombeiros)">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail"
                        src="http://www.guarulhos.org/imagens/pev/pev_paraventi_gde.jpg"
                        title="PARAVENTI - R. Apolônia Vieira de Jesus, s/ n° (próximo ao Ciesp)">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://www.guarulhos.org/imagens/pev/pev_mikail_gde.jpg"
                        title="PARQUE MIKAIL - R. Justiniano Salvador dos Santos (altura do nº 391)">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" width="660" height="438"
                        src="http://www.guarulhos.org/imagens/pev/pev_ponte_gde_peq.jpg"
                        title="PONTE GRANDE - Al. Josefina L. Zamataro (esquina c/ Av. Caetano Zamataro)">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail"
                        src="http://www.guarulhos.org/imagens/pev/pev_santos_dumont_gde.jpg"
                        title="SANTOS DUMONT - Estr. do Saboó (altura do nº 580 / próximo ao asilo)">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail"
                        src="http://www.guarulhos.org/imagens/pev/pev_vl_barros_gde.jpg"
                        title="VILA BARROS - Av. Guilherme Lino dos Santos, s/ n° (ao lado do n° 815)">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail"
                        src="http://www.guarulhos.org/imagens/pev/pev_vl_galvao_gde.jpg"
                        title="VILA GALVÃO - R. Ipiranga (em frente ao nº 530, ao lado do rio Cabuçu)">
                </a>
            </div>
        </div>
    </div>
    <!-- End PEV's -->
    <!-- Horário do Caminhão -->
    <div class="container-fluid pt-3">
        <div class="row my-2">
            <div class="col-12 text-center">
                <h2 class="text text-center mb-4">COLETA SELETIVA</h2>
                <hr class="line-footer-green" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <p class="ecobrainsGreen text-center">Preencha as informações no filtro abaixo para localizar as datas e
                    horários da
                    coleta seletiva em sua região.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <form class="filters" method="_POST">
                    <label for="states" class="text3 ">Estado:</label>
                    <select name="states" id="states" form="statesform">
                        <option value="SP">São Paulo</option>
                    </select>
                    <label for="city" class="text3 ml-2">Cidade:</label>
                    <select name="city" id="city" form="cityform">
                        <option value="Guarulhos">Guarulhos</option>
                        <option value="SaoPaulo" disabled>São Paulo</option>
                    </select>
                    <label for="district" class="text3 ml-2">Escolha seu bairro:</label>
                    <select name="district" id="district" form="districtform">
                        <option value="ADICIONARNOBANCO" disabled>ADICIONAR NO BANCO</option>
                    </select>
                    <br>
                    <label for="district" class="text3 ml-2">Insira seu CEP:</label>
                    <input type="text" placeholder="Insira seu CEP (00000000)" />
            </div>
        </div>
        <div class="row pt-4 pb-4">
            <div class="col-12" style="text-align: center;">
                <button class="btn btn-lg btn-eco efeito active" type="submit">Pesquisar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-offset-3 col-md-6">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="district">
                            <h4 class="panel-title text-center">
                                <a class="first" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    #DistrictName
                                    <span> </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="district">
                            <div class="panel-body">
                                <p class="text2">A coleta seletiva em <span class="text4">Bairro</span> acontece sempre
                                    nos(as) <span class="text4">dia(s)</span> durante o período das <span
                                        class="text4">00h</span> às <span class="text4">00h</span>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Horário do Caminhão -->
    <!--Footer-->
    <div class="container-fluid footer">
        <div class="row footer justify-content-between">
            <div class="col-md-6 col-sm-12 mt-5 text-center">
                <!--Logo-->
                <img src="imgs/eco-logo-branco.png" id="logo-footer" alt="Logo da EcoBrains">
                <img src="imgs/eco-branco.png" id="name-footer" alt="Logo da EcoBrains">
            </div>
            <div class="col-md-6 col-sm-12 mt-5 text-center">
                <!--Social Media buttons-->
                <ul class="social mb-2 list-inline mt-3">

                    <li class="list-inline-item"><a href="#" class="footerRedesSociais" target="_blank"><i
                                class="fa fa-instagram"></i></a></li>

                    <li class="list-inline-item"><a href="#" class="footerRedesSociais" target="_blank"><i
                                class="fa fa-linkedin"></i></a></li>

                    <li class="list-inline-item"><a href="#" class="footerRedesSociais" target="_blank"><i
                                class="fa fa-github"></i></a></li>

                    <li class="list-inline-item"><a href="#" class="footerRedesSociais mr-3" target="_blank"><i
                                class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <hr class="line-footer">
        <br></br>
        <!-- Topics -->
        <div class="row links footer text-center">
            <div class="col-md-12 col-lg-4">
                <p class="p-footer">Planos</p>
                <a class="a-footer" href="#">Premium Empresas</a></br>
                <a class="a-footer" href="#">Premium Cooperativas</a><br><br>
            </div>
            <div class="col-md-12 col-lg-4">
                <p class="p-footer">Contato</p>
                <a class="a-footer" href="#">e-mail@onlybrains.com.br</a></br>
                <a class="a-footer" href="#">Perguntas Frequentes</a></br>
                <a class="a-footer" href="#">0000 000 0000</a><br><br>
                <p class="p-footer">Atendimento 24h</p>
            </div>
            <div class="col-md-12 col-lg-4">
                <a class="a-footer" href="#">Cadastre-se</a></br>
                <a class="a-footer" href="indexLogin.html">Login</a></br>
                <a class="a-footer" href="indexPEV.html">PEV's</a></br>
                <a class="a-footer" href="indexSobreNos.html">Sobre nós</a>
            </div>
        </div>
        <!-- Copyright Text -->
        <div class="row footer">
            <div class="col-12 middle-footer text-center copyright p-2">
                <hr class="line-footer">
                Copyright © 2020 EcoBrains. Todos os direitos reservados.
            </div>
        </div>
    </div>
    </div>
    <!-- End Footer -->

    <!-- CÓDIGO ATÉ AQUI!!! -->

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a31af2c148.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script>
        $(document).ready(function () {
            $('.customer-logos').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
        });
    </script>
</body>

</html>