/*Title*/
.text {
  color: #07401b;

  font-size: 30pt;
}

/*Parágrafo*/
.text2 {
  color: #07401b;

  justify-content: center;
}

.text3 {
  color: #07401b;

  justify-content: center;
  font-weight: bold;
}

.text4 {
  color: #07401b;
  justify-content: center;
  font-weight: bold;
}

.text4:hover {
  color: rgb(9, 82, 35);
  justify-content: center;
  font-weight: bold;
}
