.OnlyBrainsImage {
  border-radius: 50%;
}

.WeAreEcoBrains {
  border-radius: 10%;
}

.ecobrainsNomeJumbotron {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: -40px;
  font-family: "Poppins", sans-serif;
}

.ecobrainsParagraph {
  color: white;
  font-size: 18px;
  text-align: justify;
}

.ecobrainsParagraphBold {
  font-weight: bold;
  color: white;
  font-size: 18px;
  text-align: justify;
}

.ecobrainsParagrafhGreen {
  color: #07401b;
  font-size: 18px;
}

.ecobrainsParagraphBoldGreen {
  color: #07401b;
  font-weight: bold;
  font-size: 18px;
}
